<h3 style="text-align: center;"><img alt="" src="{{ logo }}" style="float:left; height:100px; margin-right:10px; width:100px" /></h3>

<h1 style="text-align: center;"><span style="font-family:courier new,courier,monospace">F&eacute;d&eacute;ration Tunisienne de Tennis</span></h1>

<p style="text-align: center;"><span style="font-family:courier new,courier,monospace">Réponse de votre message envoyé le  {{ dateSend|date('Y-m-d') }}</span></p>

<hr />
<p>&nbsp;</p>
<br>



















<h2 style="font-style:italic;"><strong>Votre message</strong>:&nbsp;</h2>

<p>{{ messageSend }}</p>

<hr />
<h2 style="font-style:italic;"><strong>Notre R&eacute;ponse:</strong></h2>

<p>{{ messageReply|raw  }}</p>

<p style="text-align: center;">&nbsp;</p>
