{# empty Twig template #}
<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
<div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
       <span style="font-size:50px; font-weight:bold">resultat Medical</span>
       <br><br>
       <span style="font-size:30px " ><p>Ce document atteste que </p></span>
       <br><br>
       <span style="font-size:30px" ><b>malek jazi </b></span><br/><br/>
       <span style="font-size:25px"><p>a passe son test AntiDopage Taux d hemoglobine, proteines servant au transport du dioxygene. Taux normal :12 à 18g/dL,
Hematocrite : pourcentage du volume des cellules par rapport a celui du sang. Taux normal : 40 à 50%,
Taux de reticulocytes, jeunes globules rouges. Taux normal : 0,5 à 1,5%. </p></span> <br/><br/>
       <span style="font-size:30px">Resultat Negative</span> <br/><br/>
       <span style="font-size:25px"><i> delivre le {{"now"|date("d/m/y")}}</i></span><br>
       
      <span style="font-size:30px"></span>
      
      
</div>
</div>

