<h3 style="text-align: center;">

    <img src="http://localhost/federation-tunisienne-tunnis/web/img/FTT.jpg" style="float:left; height:100px; margin-right:10px; width:100px" />


</h3>

<h1 style="text-align: center;"><span style="font-family:courier new,courier,monospace">F&eacute;d&eacute;ration Tunisienne de Tennis</span></h1>

<p style="text-align: center;"><span style="font-family:courier new,courier,monospace">Newsletter {{ data.date|date('Y-m-d') }}</span></p>

<hr />
<p>&nbsp;</p>
<br>




{{ data.description|raw  }}